body{
    max-width: 450px;
    margin: auto;
    padding-left: 30px;
    padding-right: 30px;
    text-align: center;
    background-color: rgb(253, 217, 169);
}
header{
    color: rgb(255, 123, 0);
    font-style: bold;
    font-size: 25px;
}
#wins-losses{
    font-size: 25px;
}
label{
    margin: 20px;
    font-size: 25px;
}
#radio{
    margin: 20px;
}
button{
    width: 300px;
    height: 45px;
    background-color: rgb(255, 149, 19);
    border-radius: 4px;
    border-width: 5px;
    border-style: ridge;
    border-color: rgb(224, 130, 21);
    font-size: 20px;
}
button:hover{
    background-color: rgb(255, 115, 0);
    border-color: rgb(223, 108, 0);
}